<div class="full-block">

    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/assets/video/bg.mp4" type="video/mp4"/>
            Your browser does not support the video tag. I
            <source src="/assets/video/bg.webpm" type="video/webm"/>
        </video>
        <div class="poster hidden">
            <img src="/assets/img/bg.jpg" alt="">
        </div>
    </div>

    <div class="search-form">
        <h1 class="title">Cheap flight tickets</h1>

        <div class="description">The best way to buy cheap airline tickets</div>

        <form class="form-inline" ng-submit="$ctrl.onSubmit()">
            <div class="form-group">
                <label class="sr-only" for="inputFrom">From</label>
                <input type="text"
                       ng-model="$ctrl.from"
                       uib-typeahead="state for state in $ctrl.availableFrom | filter:$viewValue | limitTo:8"
                       class="form-control"
                       id="inputFrom"
                       placeholder="From">
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputTo">To</label>
                <input type="text"
                       ng-model="$ctrl.to"
                       uib-typeahead="state for state in $ctrl.availableTo | filter:$viewValue | limitTo:8"
                       class="form-control"
                       id="inputTo"
                       placeholder="To">
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputDepart">Depart</label>
                <input type="text"
                       value="{{$ctrl.depart | date:'d MMMM'}}"
                       class="form-control"
                       id="inputDepart"
                       placeholder="Depart"
                       uib-popover-template="'departPicker.html'"
                       popover-placement="bottom"
                       popover-is-open="$ctrl.departPickerIsOpen">

                    <script type="text/ng-template" id="departPicker.html">
                        <uib-datepicker ng-model="$ctrl.depart"></uib-datepicker>
                    </script>
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputReturn">Return</label>
                <input type="text"
                       value="{{$ctrl.return | date:'d MMMM'}}"
                       class="form-control"
                       id="inputReturn"
                       placeholder="Return"
                       uib-popover-template="'returnPicker.html'"
                       popover-placement="bottom"
                       popover-is-open="$ctrl.returnPickerIsOpen">

                <script type="text/ng-template" id="returnPicker.html">
                    <uib-datepicker ng-model="$ctrl.return"></uib-datepicker>
                </script>
            </div>
            <div class="row action-row">
                <button type="submit" class="btn btn-warning search-btn">Search tickets</button>
            </div>
        </form>
    </div>
</div>
<footer class="footer text-left">
    Source code available on github:
    <img src="/assets/img/Octocat.png" alt="">
    <a href="https://github.com/zaqqaz/in-air">@zaqqaz</a>
</footer>