$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$stable: #ebecf3;
$stable-text: #042A54;
$brand-primary: #2196F3 !default;
$top-nav-height: 50px !default;
$side-nav-width: 225px !default;

// bower:scss
// endbower

// injector
// endinjector

html, body, [ui-view] {
  width: 100%;
  height: 100%;
}

body {
  background: #fff;
}

.full-block {
  width: 100%;
  height: 100%;
  display: block;
}