$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$stable: #ebecf3;
$stable-text: #042A54;
$brand-primary: #2196F3 !default;
$top-nav-height: 50px !default;
$side-nav-width: 225px !default;

// bower:scss
// endbower

// injector
// endinjector

html, body, [ui-view] {
  width: 100%;
  height: 100%;
}

body {
  background: #fff;
}

.full-block {
  width: 100%;
  min-height: 100%;
  display: block;
}

:focus {
  outline: none;
}

.popover {
  max-width: none !important;
  width: 320px;
  overflow: hidden;
}

.back {
  width: 60px;
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .icon {
    opacity: .5;
    font-size: 24px;
  }
}

.cursor-pointer {
  cursor: pointer;
}